.layout {
  min-height: 100vh;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  font-size: 24px;
}

.header-dark {
  color: white;
}

.header-light {
  background-color: white;
  color: black;
}

.content {
  padding: 0 50px;
  margin-top: 20px;
}

.content-inner {
  padding: 24px;
  min-height: 280px;
}

.footer {
  text-align: center;
}

.theme-button {
  font-size: 24px;
  cursor: pointer;
}
